@tailwind base;
@tailwind components;
@tailwind utilities;

@layer basse {
  body {
    @apply w-full h-full bg-[#2c698d];
  }
}

/* h1 {
  background-color: #0f172a;
} */

@layer utilities {
  .max-container {
    @apply max-w-6xl w-full
  }
  .flex-start {
    @apply flex justify-start items-center
  }
  .flex-center {
    @apply flex justify-center items-center
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}